.sidebarElement {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(100% - 30px);
    padding: 15px;
    color: #aaaaaa;
    text-decoration: none;
    transition: color 0.5s;
}

.sidebarElement:hover {
    color: var(--accentColor)
}

.sidebarElement.active {
    color: var(--accentColor);
}