.searchView {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.searchView .search {
    display: flex;
    padding: 10px 25px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #00000022, 0 3px 10px 0 #00000010;
    width: calc(100% - 60px);
}

.searchView .search input {
    flex: 1;
    margin-left: 5px;
    outline: none !important;
    border: none;
    background: none;
}

.searchView table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.searchView .studentEntry {
    border-radius: 5px;
    transition: all 0.5s;
    border-top: 1px solid #bbbbbb;
}

.searchView .studentEntry:hover {
    background-color: #00000010;
    color: var(--accentColor);
}

.searchView .studentEntry td {
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.searchView .noResults {
    color: #bbbbbb;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.searchView .noResults .icon {
    font-size: 20vh;
    margin-top: 20px;
}